<article class="post card col-4 col-mx-auto">
<div>

  <div class="card-header meta bg-primary p-2">
    Posted by {{user.username}} on {{format_date created_at}}
  </div>

  <div class="title bg-gray card-body col-4">
    <a {{post_comment}} target="_blank">{{title}}</a>
  </div>
  
</div>
</article>