<div class="container">
  <div class="columns col-12">

    <section class="col-2 col-mx-auto form-group">
      <h2>Create New Post</h2>

      <form class="new-post-form" style="border: 2px solid black">
        <div style="width: 100%;">
          <label for="post-title" class="form-label bg-primary">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div style="width: 100%;">
          <label for="post-url">Comment</label>
          <input type="text" id="post-url" class="form-input col-6" placeholder="Comment" rows="3" name="post-url" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </section>

    {{#if posts.length}}
    <section class="col-mx-auto col-8">
      <h2>Your Posts</h2>
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}
    
  </div>
</div>

<script src="/javascript/add-post.js"></script>